body
{
    background: lightgreen;
    border: green solid 2px;
}

.section-1-container
{
    display:flex;
    background: lightskyblue;
    border: blue solid 2px;
    width: 500px;
    height: 200px;
}

.orange-box
{
    background: lightsalmon;
    border: orange solid 2px;
}

.red-box
{
    background: lightcoral;
    border: red solid 2px;
}

.purple-box
{
    background: rgb(229, 180, 248)
    border: purple solid 2px;
}

.section-1 .orange-box
{
    width: calc(500px/3);
    height: calc(200px/.66%);
    /* padding: 5px; */
    margin: 5px;
}

.subsection-1-container
{
    display:flex;
}

.section-1 .red-box
{
    width: 20%;
    height: 20%;
}